{% extends 'base.html' %}
{% block title %}Acerca de...{% endblock %}

{% block content %}

   
<br>
<br>
    <div id="aboutus">
        <div class="container">
            <div class="section_header">
                <h3>Acerca de Nosotros</h3>
            </div>
            <div class="row">
                <div class="span6 intro">
                    <h6>Somos un grupo de desarrolladores con el fin de mejorar algunos procesos</h6>
                    <p>
                        La verificacion vehicular surgio con el objetivo de reducir al maximo las emisiones contaminantes de los vehiculos en circulacion y mejorar el aire, asi como la calidad de vida de la poblacion.
                        <br /><br />
                        La falta de agilidad en el registro de la verificacion vehicular se genera por la ineficiencia del sistema ya que puede ser un poco lento o con demasiadas acciones para poder llevar dicho proceso.</p>
                </div>
                
            </div>
        </div>
    </div>

    <div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Conoce A Nuestro Equipo</h3>
            </div>

            <div class="row people">
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/media/program/rodrigo.jpg" alt="" />
                        <div class="info">
                            <p class="name">De La Rosa Flores Rodrigo</p>
                            <p class="area">Creative Director</p>
                            <a href="https://www.facebook.com/mrodriguito8" target="_blank" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                        <img src="/media/program/lemus.jpg" alt="" />
                        <div class="info">
                            <p class="name">Lemus Vazquez Ricardo</p>
                            <p class="area">Creative Director</p>
                            <a href="https://www.facebook.com/ricardo.lemus.vazquez" target="_blank" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/media/program/jesus.jpg" alt="" />
                        <div class="info">
                            <p class="name">Romero Barron Jesus Enrique</p>
                            <p class="area">Creative Director</p>
                            <a href="https://www.facebook.com/borreguitowakk" target="_blank" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}