{% extends 'base.html' %}
{% block title %}Agregar Vehiculo{% endblock %}


{% block content %}

<br>
<br>
<br>
<br>
<!-- Sign In Option 1 -->
    <div id="sign_up1">
        <div class="row-fluid">
                <div class="span12 header">
                    
                    <br>
                    <br>
                        
                    <h2> Gracias Por Registrarte!!!!</h2>


                    <a href={% url 'vista_adduser' %} class="btn btn-primary">Login</a>      
                        
                    
                </div><!--span9-->
    </div>




{% endblock %}