{% extends 'base.html' %}
{% block title %}Ubicaciones{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<address>
<h2>CENTRO AMBIENTAL LA MESA SA DE</h2>
SANCHEZ TABOADA 10116, BUGAMBILIAS, TIJUANA, C.P 22216, BC
TEL: (664) 625 1455
</address>

<address>
<h2>SERVICIOS DE VERIFICACION</h2>
AVE PIO PICO 1127, TIJUANA CENTRO, TIJUANA, C.P 22000, BC
TEL: (664) 971 0875
</address>

<addrees>
	<h2>SERVICIOS DE VERIFICACION DE T</h2>
24 2405, EL FLORIDO IV, TIJUANA, C.P 22245, BC
TEL: (664) 629 2167
</address>


<addrees>
<h2>SERVICIOS DE VERIFICACION TIJU</h2>
AVE PIO PICO 1127, TIJUANA CENTRO, TIJUANA, C.P 22000, BC
TEL: (664) 971 0787
</address>

{% endblock %}



