<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>    
<body>
	<h1>Verficaciones Realizadas</h1>
	{% if veri %}
	<table class="table table-bordered">
		<theader>
			<tr>
				<th>Folio</th>
				<th>Fecha</th>
				<th>Empleado</th>
				<th>ConductorV</th>
				<th>Consumo Gasolina</th>
				<th>Emision Smog</th>
			</tr>
		</theader>
	{% for e in veri %}
		<tbody>
			<tr>
				<td>{{e.id}}</td>
				<td>{{e.Fecha}}</td>
				<td>{{e.Empleado}}</td>
				<td>{{e.ConductorV}}</td>
				<td>{{e.ConsumoGasolina}}</td>
				<td>{{e.Emision Smog}}</td>
				
			</tr>
		</tbody>
	{% endfor %}
	</table>
{% else %}
	<h2>NO EXISTEN</h2>
{% endif %}


</body>
</html>