<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Titulo Base {% endblock %}</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- Styles -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/media/css/bootstrap-overrides.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href={% url 'vista_principal' %}>
                <strong>Verificacion Vehicular</strong>
            </a>
            {% if user.is_authenticated %}
                    <p class= "navbar-text pull-right">
                        Usuario {{user.username}}
                    </p>
            {% endif %}
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href={% url 'vista_principal' %} class="active">HOME</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Reportes
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href={% url 'vista_conpdf' %}>Reporte Conductores</a></li>
                            <li><a href= {% url 'vista_carrpdf' %} >Reporte Vehiculos</a></li> 
                            <li><a href= {% url 'vista_veripdf' %} >Reporte Verificaciones</a></li> 

                        </ul>  
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Graficas
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href={% url 'vista_usergraficas' %}>Grafica de Vehiculos</a></li>
                                
                            </ul>  
                    </li>
                    {% endif %}
                    <li><a href={% url 'vista_acercade' %}>ABOUT US</a></li>
                    <li><a href= {% url 'vista_servicios' %} >Services</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Registrar
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href={% url 'vista_addcar' %}>Agregar Vehiculo</a></li>
                            <li><a href= {% url 'vista_addcon' %} >Agregar Conductor</a></li> 
                            {% if user.is_authenticated %}
                        <li><a href= {% url 'vista_addver' %} >Agregar Verificacion</a></li> 
                        {% endif %}
                        </ul>  
                    </li>

                    <li><a href={% url 'vista_test'  %}>Test</a></li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Busquedas
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href={% url 'vista_buscond' %}>Busqueda de conductor</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href= {% url 'vista_busmot' %} >Motores</a></li> 
                                {% endif %}

                                <li><a href={% url 'vista_buscarro' %}>Busqueda de Matricula</a></li>
                            </ul>  
                        </li>


                    <li><a href={% url 'vista_contacto'  %}>CONTACT US</a></li>
                    <li><a class="btn-header" href={% url 'vista_registro' %}>Sign up</a></li>
                    {% if user.is_authenticated %}
                        <li><A HREF = {% url 'vista_logout' %}>Logout</A></li>
                    {% else %}
                        <li><A HREF = {% url 'vista_login' %}>Login</A></li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>

{% block content %}

{% endblock %}


    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/theme.js"></script>

    <script type="text/javascript" src="/media/js/index-slider.js"></script>	
</body>
</html>
